# =====================================
# Locale
# =====================================
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

# =====================================
# XDG Base Directories
# =====================================
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"
# if [[ $(command -v devbox) ]]; then
#   eval "$(devbox global shellenv)" 2> /dev/null
#   alias refresh-global='eval "$(devbox global shellenv --preserve-path-stack -r)" && hash -r'
# fi

[[ -d "$HOME/bin"    ]] && export PATH="$HOME/bin:$PATH"

# =====================================
# Editor and Pager
# =====================================
if command -v nvim >/dev/null; then
  export EDITOR="nvim"
  # export MANPAGER='NVIM_APPNAME=minimal-lazy nvim +Man! -c "set laststatus=0" -u $HOME/minimal.lua'
else
  export EDITOR="vim"
fi

export VISUAL="$EDITOR"

# =====================================
# Bat Configuration
# =====================================
if command -v bat >/dev/null; then
  export PAGER="bat"
  export MANPAGER="sh -c 'col -bx | bat -l man -p'"
else
  export PAGER="less -R"
  export MANPAGER="less -R"
fi


# =====================================
# Homebrew
# =====================================

{{- if eq .chezmoi.os "darwin" }}
if [[ -x /opt/homebrew/bin/brew ]]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi
[[ -d "$HOME/nvim-macos-arm64/bin" ]] && export PATH="$HOME/nvim-macos-arm64/bin:$PATH"
{{- end }}

{{- if eq .chezmoi.os "linux" }}
if [[ -x /home/linuxbrew/.linuxbrew/bin/brew ]]; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi
[[ -d "$HOME/nvim-linux-x86_64/bin" ]] && export PATH="$HOME/nvim-linux-x86_64/bin:$PATH"
{{- end }}

# =====================================
# PATH Modifications
# =====================================
[[ -d "$HOME/.pixi/bin"     ]] && export PATH="$HOME/.pixi/bin:$PATH"
[[ -d "$HOME/.pixi/envs/nodejs/bin"  ]] && export PATH="$HOME/.pixi/envs/nodejs/bin:$PATH"
[[ -d "$HOME/.local/bin"    ]] && export PATH="$HOME/.local/bin:$PATH"
[[ -d "$HOME/scripts"       ]] && export PATH="$HOME/scripts:$PATH"
[[ -d "$HOME/.cargo/bin"    ]] && export PATH="$PATH:$HOME/.cargo/bin"
[[ -d "/Users/Shared/DBngin/mysql/8.0.19/bin" ]] && export PATH="$PATH:/Users/Shared/DBngin/mysql/8.0.19/bin"


# remove and add ~/.volta/bin at the end
path=(${path:#$HOME/.volta/bin} $path $HOME/.volta/bin); typeset -U path

[[ -f "$HOME/.gem_key" ]] && export GEMINI_API_KEY=$(cat "$HOME/.gem_key")
# export GEMINI_MODEL="gemini-2.5-flash"
