#!/usr/bin/env bash

 if [[ -d $HOME/.pixi ]]; then
  packages=(bat direnv eza fd-find fzf jq lua luajit luarocks nodejs nvim ripgrep ripgrep-all sd sqlite tealdeer yq zoxide)
  $HOME/.pixi/bin/pixi global install "${packages[@]}"
 fi

if [[ $(command -v devbox 2>/dev/null) ]]; then
  devbox global install
fi
